html, body {
	font-size: 12px;
}

.before .subtable {
    background-color:#fff;
    color:#000;
    border: 0px solid #eee;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition:all 1s;
}

.before > tr, 
.before > th, 
.before > td,
.before > tr[data-tblseg="subtabletitle"] th {
	background-color: #fff;
	text-align: left;
	text-decoration: none;
	border: 1px solid #eee;
	color: #ddd;
}

table {
  border-collapse: collapse;
	font-size: 12px;
}

table.before {
  
}

table.after {
 
}

table.before tbody.subtable {
  background: #fff;
  color: #000;
}

table.after thead, 
table.after tbody.subtable {
  border: 40px solid white;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition:all 2s;
}

table.after tbody.subtable {
  background: #bbffbb;
  color: #000;
}

td, th {
  width: 100px;
  padding: 5px;
}

td.empty {
	border: none;
}

td.cell {
	border: none;
}

